@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
}


#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #D1D5D8;
  --gradient-color-2: #3498DB;
  --gradient-color-3: #E74C3C;
  --gradient-color-4: #F1C40F;
}


a {
  color: inherit;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.g327 {
  border-color: #302f30;
}