@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: white;
}

#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #d1d5d8;
  --gradient-color-2: #3498db;
  --gradient-color-3: #e74c3c;
  --gradient-color-4: #f1c40f;
}

a {
  color: inherit;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.g327 {
  border-color: #302f30;
}
